<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
    <script src="compile.js"></script>
</head>
<body>
    <div ng-controller="myController" class="container">
       <!-- <div style="border:1px solid black" message text="{{i}}" ng-repeat="i in [1,2,3,4,5]">
        {{i}}
       </div> -->
       <div message text="{{i}}" ng-repeat="i in [1,2,3,4,5]">
        {{i}}
       </div>
    </div>
</body>
</html>