<!-- <div style="text-align: center;">
  <h1>Welcome to the routing app.</h1>
</div>
<nav>
  <a routerLink="/departments" routerLinkActive="active">Departments</a>
  <a routerLink="/employees" routerLinkActive="active">Employees</a>
</nav>

<router-outlet></router-outlet> -->
<h1>THE ROOT COMPONENT</h1>
<greet>
  <h1>Hello World</h1>
  <h1 class="headerText">New Content</h1>
  <button class="btn btn-info">Say Hello</button>
</greet>
<greet>
  <h1>Hello Moon</h1>
  <h1 class="headerText">New Content</h1>
  <button class="btn btn-info">Say Moon</button>
</greet>